@model Gravacao;
<div class="col-6 col-xl-4 offset-3 offset-xl-4 text-center">
            <form method="POST">
                <h1>Cadastro - Música</h1>
                <hr class="mb-4">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" asp-for="@Model.DataLancamento" placeholder="Nome">
                    <label asp-for="@Model.DataLancamento">Data de Lançamento</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" asp-for="@Model.Duracao" placeholder="Nome">
                    <label asp-for="@Model.DataLancamento">Duração</label>
                </div>

                <div class="form-floating mb-3">
                    <select class="form-select" asp-for="@Model.IdArtista" asp-items="@ViewBag.SelectArtistas">
                        <option value="" selected>Artista</option>
                    </select>
                </div>

                <div class="mb-3">
                    <select class="form-select" asp-for="@Model.IdGenero" asp-items="@ViewBag.SelectGeneros">
                        <option value="" selected>Gênero</option>
                    </select>
                </div>

                <div class="mb-3">
                    <select class="form-select" asp-for="@Model.IdMusica" asp-items="@ViewBag.SelectMusicas">
                        <option value="" selected>Musica</option>
                    </select>
                </div>

                <select class="form-select" asp-for="@Model.IdAlbum" asp-items="@ViewBag.SelectAlbuns">
                        <option value="" selected>Album</option>
                    </select>
                <button class="btn botao my-3" type="submit">Cadastrar</button>
            </form>
        </div>