@model List<Ouvinte>;

    <h1 class="text-center mb-3">Ouvintes Cadastrados</h1>

<table class="table table-dark table-striped">
    <thead><tr><th scope="col">Nome</th>
    <th scope="col">Email</th>
    <th scope="col">Telefone</th>
    <th scope="col">Gênero</th>
    <th scope="col">Nascimento</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var ouvinte in Model)
        {
            <tr>
            <th scope="row">@ouvinte.Nome</th>
            <td>@ouvinte.Email</td>
            <td>@ouvinte.Telefone</td>
            <td>@ouvinte.Genero</td>
            <td>@ouvinte.DataNascimento</td>
            </tr>
        }
    </tbody>
</table>